.products-table {
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #f0f0f0;
  }

  &__product-image {
    img {
      display: block;
      margin: 0 auto;
      width: 24px;
      height: 24px;
    }
  }
  &__product-actions {
    display: flex;
    align-items: center;
    div {
      cursor: pointer;
    }
  }
}
