.homepage {
  &__title {
    font-size: 40px;
    margin: var(--gutter) 0;
  }
  &__banner {
    margin-top: var(--gutter);
    img {
      height: 300px;
    }
  }
  &__image-credit {
    font-size: 12px;
    margin-top: 8px;
    a {
      color: var(--font-secondary2);
    }
  }
}
