.text-field {
  input {
    width: 100%;
    padding: 10px 14px;
    margin-bottom: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  &__label {
    margin-bottom: 4px;
  }
}
